.video-container{
	position: relative;
}
.video-thumbnail{
	position: absolute;
	height: 100% !important;
	max-width: 100%;
}
body{
	background-color: teal !important;
}
.video-search-form{
	min-height: 200px;
}
.spacer{
	width: 100%;
	height: 55px;
}
.lastUnit{
	overflow: visible;
}
.nav{
	position: relative;
}
.toplevel:hover .dropdown{
	display: block;
}
.dropdown{
	position: absolute;
	display: none;
	top: 40px;
    background-color: #222;
}