.video-container{
	position: relative;
}
.video-thumbnail{
	position: absolute;
	height: 100% !important;
	max-width: 100%;
}
body{
	background-color: teal !important;
}
.video-search-form{
	min-height: 200px;
}
.spacer{
	width: 100%;
	height: 55px;
}